.card {
  position: relative;
  display: flex;
  flex-direction: column;

  &__link {
    margin-bottom: 12px;

    @media (min-width: 768px) {
      margin-bottom: 19px;
    }

    @media (min-width: 1024px) {
      margin-bottom: 16px;
    }
  }

  &__image {
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
  }

  &__button-like {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    right: 12px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 18px;
    color: #1c1c1c;
    margin-bottom: 12px;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 37px;
    }

    @media (min-width: 1024px) {
      margin-bottom: 18px;
    }

    &-title {
      font-size: 12px;

      @media (min-width: 768px) {
        font-size: 16px;
      }
    }

    &-price {
      font-size: 16px;

      @media (min-width: 768px) {
        font-size: 20px;
      }
    }
  }

  &__button {
    padding: 12px 24px;
    color: #0044F0;
    border: 1px solid #0044F0;
    border-radius: 32px;

    &:hover{
      color: #FFF;
      background-color: #0044F0;
    }

    &:active{
      border-color: #042F9C;
    }

    &:disabled {
      opacity: 0.2;
    }
  }
}
